/.git-object-urns.txt
/.vagrant
/build/db/all-tables.sql
/build/db/create-database.sql
/build/db/drop-database.sql
/build/db/rc-inserts.sql
/composer.lock
/datastore
/logs
/schema/*schema.php
/util/phptemplateprojectdatabase-pg_dump
/util/phptemplateprojectdatabase-psql
/util/SchemaSchemaDemo.jar
/vendor
/www/.htaccess
/www/images/head.png
