{
    "dbname": "phptemplateprojectdatabase",
    "host": "phptemplateprojectdatabasehost",
    "user": "phptemplateprojectdatabaseuser",
    "password": "phptemplateprojectdatabasepassword",
    "driver": "pdo_pgsql"
}
