{
	"git-dir": "/path/to/your/Factorio/.git",
	"_comment": [
		"This should be on the same drive as TFMPM,",
		"as it will try to hardlink git objects from this repo",
		"to cloned checkouts for building"
	]
}
